@import "tailwindcss";


@keyframes rotate-gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-neon {
  background-size: 200% 200%;
  animation: rotate-gradient 4s linear infinite;
}
